<br>
<div class="container">
    <div class="panel panel-primary" *ngIf="!error">
        <div class="panel-heading">
            <h3 class="panel-title">Cocktail Details</h3>
        </div>
        <div class="panel-body">
            <div class="panel-body">
                <div class="col-xs-10">
                    <div class="row vertical-align">
                        <div class="col-xs-4">
                            <img class="imageClass" [src]="cocktail?.strDrinkThumb" alt="Image Not Available" />
                        </div>
                        <div class="col-xs-8">

                            <div class="row">
                                <div class="col-xs-6">
                                    <b>Name</b>
                                </div>
                                <div class="col-xs-6">
                                    : {{cocktail?.strDrink}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <b>Type</b>
                                </div>
                                <div class="col-xs-6">
                                    : {{cocktail?.strAlcoholic}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <b>Glass</b>
                                </div>
                                <div class="col-xs-6">
                                    : {{cocktail?.strGlass}}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-6">
                                    <b>Instructions</b>
                                </div>
                                <div class="col-xs-6">
                                    : {{cocktail?.strInstructions}}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-6">
                                    <b>Ingredients</b>
                                </div>
                                <div class="col-xs-6">
                                    :
                                    {{cocktail?.strIngredient1 + ', ' + cocktail?.strIngredient2 + ', ' + cocktail?.strIngredient2}}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="error">
        {{ error }}
    </div>
</div>